* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todoItemContainer {   
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-bottom: 1px solid #c9c9c9;
    padding: 0.5rem
}

.todoFormContainer {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #c9c9c9;
    justify-content: center;

}

form {
    outline: none;
    width: 100%;
 }

 #addTodoInput {
     width: auto
 }

.todoItem {
    min-width: auto;
    float: left;
    margin: 0.5rem;
    
}

.options {
    display: flex;
    min-width: auto;
    align-content: space-between;
    justify-content: center;
    margin-left: auto;
    order: 2;
}

/*.btn {

} */
.trashBin {
    order: 2;
}

.toDoFormContainer {
    justify-content: center;
}

.trashBin {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
    .btn-responsive {
      padding:2px 4px;
      font-size:80%;
      line-height: 1;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
      padding:4px 9px;
      font-size:90%;
      line-height: 1.2;
    }
  }