* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todoItemContainer {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-bottom: 1px solid #c9c9c9;
    padding: 0.5rem
}
.todoItem {
    padding-top: 0.5rem;
}

.todoFormContainer {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #c9c9c9;
    text-align: center;

}

form {
    outline: none;
    width: 100%
 }

 form input {
     border: none;
     border-bottom: 1px solid #c9c9c9;
 }

 #addTodoInput {
     width: 80%;
     padding: 4px;
 }

 button {
    text-align: center;
    background: none;
    border: none;

 }

.options {
    display: flex;
    min-width: auto;
    margin-left: auto;
    order: 2;
    justify-content: center;
}

.react-icons {
    height: 32px;
    width: 32px;
    margin: 0.25rem;
    font-size: 0.5rem;
}

.greenbutton{
    color: #5cb85c;
}



.toDoFormContainer {
    justify-content: center;
}