
.wrapper {
  display: grid;
}

.greeting {
    font-size: 3rem;
    margin-top: 3rem;
    Text-align: center;
  }

  @media (max-width: 480px) {
    .greeting h1,
    .greeting h2 {
        margin-top: 1rem;
        font-size: 1rem;

    }
  }

.App {
  
  background-color: #FFFFFF;
  min-height: fit-content;
  width: 65vw;
  margin: 2rem auto;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media (max-width: 1024px) {
  .App {
    background-color: #FFFFFF;
    min-height: fit-content;
    width: 65vw;
    margin: 2rem auto;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

@media ( max-width: 500px) {
  .App {
    background-color: #FFFFFF;
    min-height: fit-content;
    width: fit-content;
    margin: 2rem;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

